* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
}

main {
    height: 100vh;
}

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.home__album {

}

.home__album__cover {
}

.home__album__cover img {
    height: auto;
    width: 50%;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.1)));
}
