
.player {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

.player__bar {
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5));
}

.button__queue-badge {
    padding: 0 !important;
}

/*.player__progress {*/
/*display: table;*/
/*width:100%;*/
/*}*/

.player__controls {
    margin: 0 0;
}

.player__controls__prev-song {
    text-align: center;
}

.player__controls__next-song {
    text-align: center;
}

.player__controls__play-mode {
    text-align: center;
}

.player__controls__play-song {
    text-align: center;
}

.player__controls__queue-music {
    text-align: center;
}

.player__progress-current-time {
    text-align: right;
}

.player__progress {
    margin: 0 0;
}

.player__progress-bar {

}

.player__progress-duration-time {
    display: table-cell;
    text-align: left;
    padding-left: 4%;
    width: 15%;
}